
<h1>Welcome New User!</h1>
<h2>We are happy to have you be part of the community</h2>

<div class="form-signin">
<form action="/signup" method="POST">	
  <p>Please enter your: </p>
  	 <label for="username" class="sr-only">Username: </label>
	 <input type="text" id="username" name="username" required autofocus><br>
	 

	 <label for="email" class="sr-only">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </label>
	 <input type="email" id="email" name="email" required><br>

	 <label for="password" lass="sr-only">Password:&nbsp;</label>
	 <input type="password" id="password" name="password" required><br>
	 
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Submit</button>
	
	
	 
</form>
<h3> Already have an account? <a href="/">Login</a></h3>
</div>