<h1>Please use the form below to add a new company</h1>
<form action="/companies/<%= @user.slug %>" method="POST">
  <h3><label for="name">Company Name: </label></h3>
  <input type="text" id="name" name="name" required><br>

  <label for="shipping_container_notes">Notes about shipping container(ie. box max weight and size, pallet max height etc.): </label><br>
    <textarea id="shipping_container_notes" name="shipping_container_notes" rows="4" cols="100"></textarea><br>

  <label for="label_notes">Notes about the carton labels(ie. carton marks, GS1's etc.): </label><br>
    <textarea id="label_notes" name="label_notes" rows="4" cols="100"></textarea><br>

  <label for="asn_notes">Notes about the ASN(ie. how early to send, routing # required etc.): </label><br>
    <textarea id="asn_notes" name="asn_notes" rows="4" cols="100"></textarea><br>

  <label for="routing_notes">Routing notes(ie appoint required, how early routing request needs to made etc.): </label><br>
    <textarea id="routing_notes" name="routing_notes" rows="4" cols="100"></textarea><br>

  <input type="submit" value="submit"><br>
  </form>
  <button class= "btn">
    <a href="/companies" >Return to all Companies</a>
  </button>
